*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#main .topHeader{
    background-color: #000;
    padding: 12px 0;
}
#main .topHeader .arrangement{
    display: flex;
    flex-direction: row;
    margin-left: 35%;
    margin-right: 15%;
    justify-content: space-between;
}
#main .topHeader .arrangement p{
    color: #fafafa;
    font-size: 14px;
    line-height: 21px;
    font-family: Arial, Helvetica, sans-serif;
}
#main .topHeader .arrangement p span{
    text-decoration: underline;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    margin-left: 5px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}
#main .topHeader .arrangement .language{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
#main .topHeader .arrangement .language img{
    margin-left: 18.73px;
}
#main section.wrapper{
    padding: 0 15%;
}
#main section.wrapper .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 10px;
}
#main section.wrapper .header .hamburger{
    display: none;
    flex-direction: column;
    cursor: pointer;
}
#main section.wrapper .header .hamburger .bar{
    background-color: #000;
    height: 4px;
    width: 25px;
    margin: 3px 0;
}
#main section.wrapper .header .leftContainer{
    display: flex;
}
#main section.wrapper .header .leftContainer h1 a{
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: #000;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 195px;
}
#main section.wrapper .header .leftContainer .pages{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#main section.wrapper .header .leftContainer .pages a{
    text-decoration-line: none;
    color: #000;
    font-size: 16px;
    line-height: 24px;
    margin-right: 25px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}
#main section.wrapper .header .leftContainer .pages a:first-child{
    text-decoration: underline;
}
#main section.wrapper .header .leftContainer .pages a:last-child{
    margin-right: 0;
}
#main section.wrapper .header .rightContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#main section.wrapper .header .rightContainer .searchBar input{
    background-color: #f5f5f5;
    border: none;
    padding: 7px 30px 7px 30px;
    border-radius: 4px;
}
#main section.wrapper .header .rightContainer .searchBar img{
    width: 16px;
    position: relative;
    left: -30px;
    top: 3px
}
#main section.wrapper .header .rightContainer img{
    width: 16px;
}
#main section.wrapper .spotlight{
    display: flex;
    flex-direction: row;
    margin: 50px 0;
    background-color: #000;
    border-radius: 10px;
}
#main section.wrapper .spotlight .spotlightLeft{
    width: 50%;
    padding: 100px 0 100px 50px;
}
#main section.wrapper .spotlight .spotlightLeft .appleSeries{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#main section.wrapper .spotlight .spotlightLeft .appleSeries img{
    width: 40px;
    height: 40px;
}
#main section.wrapper .spotlight .spotlightLeft .appleSeries p{
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#main section.wrapper .spotlight .spotlightLeft h2{
    color: #fafafa;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    margin: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
}
#main section.wrapper .spotlight .spotlightLeft .shopNowButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
#main section.wrapper .spotlight .spotlightLeft .shopNowButton p{
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
#main section.wrapper .spotlight .spotlightLeft .shopNowButton img{
    margin-left: 5px;
}
#main section.wrapper .spotlight .spotlightRight{
    width: 50%;
}
#main section.wrapper .spotlight .spotlightRight img{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#main section.wrapper .categories .categorySymbolContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#main section.wrapper .categories .categorySymbolContainer .categorySymbol{
    width: 20px;
    height: 40px;
    background-color: #db4444;
    border-radius: 4px;
}
#main section.wrapper .categories .categorySymbolContainer p{
    color: #db4444;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#main section.wrapper .categories h2{
    color: #000;
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
    margin: 20px 0;
    letter-spacing: 4%;
    font-family: Arial, Helvetica, sans-serif;
}
#main section.wrapper .categories .categoryList{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
#main section.wrapper .categories .categoryList .categoryContainer{
    width: 160px;
    height: 145px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
#main section.wrapper .categories .categoryList .categoryContainer p.categoryName{
    margin-top: 20px;
}
#main section.wrapper .ratedProducts{
    width: 100%;
}
#main section.wrapper .ratedProducts .productsList{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 70px;
}
#main section.wrapper .ratedProducts .productsList .productCard{
    width: 245px;
    height: 322px;
    margin-top: 50px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    border-radius: 4px;
}
#main section.wrapper .ratedProducts .productsList .productCard:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.2);
}
#main section.wrapper .ratedProducts .productsList .productCard:hover .cartButton{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
#main section.wrapper .ratedProducts .productsList .productCard .productCardTop{
    width: 100%;
    height: 250px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
#main section.wrapper .ratedProducts .productsList .productCard .cartButton{
    width: 100%;
    height: 45px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
#main section.wrapper .ratedProducts .productsList .productCard .cartButton:hover{
    opacity: 0.8;
}
#main section.wrapper .ratedProducts .productsList .productCard .cartButton p{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
#main section.wrapper .ratedProducts .productsList .productCard .productCardTop .newContainer{
    position: absolute;
    width: 50px;
    height: 25px;
    background-color: #00FF66;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -200px;
    margin-left: -180px;
}
#main section.wrapper .ratedProducts .productsList .productCard .productCardTop .newContainer p{
    font-size: 12px;
    line-height: 18px;
    color: #fafafa;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}
#main section.wrapper .ratedProducts .productsList .productCard .productCardTop .reactionContainer{
    position: absolute;
    margin-top:-170px;
    margin-right: -195px;
}
#main section.wrapper .ratedProducts .productsList .productCard .productCardTop .reactionContainer .forCircle{
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main section.wrapper .ratedProducts .productsList .productCard .productCardTop .reactionContainer .forCircle:first-child{
    margin-bottom: 10px;
}
#main section.wrapper .ratedProducts .productsList .productCard .productCardTop .reactionContainer .forCircle img{
    width: 16px;
    height: 14px;
    color: #000;
}
#main section.wrapper .ratedProducts .productsList .productCard .productCardBottom p{
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#main section.wrapper .ratedProducts .productsList .productCard .productCardBottom .additionalInfo{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
#main section.wrapper .ratedProducts .productsList .productCard .productCardBottom .additionalInfo p.price{
    color: #db4444;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
}
#main section.wrapper .ratedProducts .productsList .productCard .productCardBottom .additionalInfo .ratings{
    margin: 10px 10px 0;
    display: flex;
    align-items: center;
}
#main section.wrapper .ratedProducts .productsList .productCard .productCardBottom .additionalInfo .ratings .halfStar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#main section.wrapper .ratedProducts .productsList .productCard .productCardBottom .activeCircles{
    display: flex;
    flex-direction: row;
}
#main section.wrapper .ratedProducts .productsList .productCard .productCardBottom .activeCircles .activeCircle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
#main section.wrapper .ratedProducts .productsList .productCard .productCardBottom .activeCircles .activeCircle .innerCircle{
    width: 12px;
    height: 12px;
    background-color: #FB1314;
    border-radius: 50%;
}
#main section.wrapper .ratedProducts .productsList .productCard .productCardBottom .activeCircles .unactiveCircle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #DB4444;
}
#main section.wrapper .ratedProducts .allProducts{
    width: 234px;
    border-radius: 4px;
    background-color: #DB4444;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0;
    cursor: pointer;
    padding: 16px 48px;
}
#main section.wrapper .ratedProducts .allProducts p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
}
#main section.wrapper .services{
    margin: 100px 0;
}
#main section.wrapper .services .serviceList{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#main section.wrapper .services .serviceList .service{
    text-align: center;
}
#main section.wrapper .services .serviceList .service .firstCircle{
    width: 80px;
    height: 80px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto;
}
#main section.wrapper .services .serviceList .service .firstCircle .secondCircle{
    width: 50px;
    height: 50px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
#main section.wrapper .services .serviceList .service .firstCircle .secondCircle img.svg-icon{
    filter: invert(100%) sepia(0%) saturate(1576%) hue-rotate(-21deg) brightness(150%) contrast(100%);
}
#main section.wrapper .services .serviceList .service h4{
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    margin: 20px 0 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#main section.wrapper .services .serviceList .service p{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}
#main footer{
    padding: 60px 0 15px;
    background-color: #000;
}
#main footer section.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#main footer section.wrapper .column{
    display: flex;
    flex-direction: column;
}
#main footer section.wrapper .column a.logo{
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#main footer section.wrapper .column a.subscribe{
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-bottom: 20px;
}
#main footer section.wrapper .column a.regular{
    margin-bottom: 20px;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
#main footer section.wrapper .column a.info{
    margin-bottom: 10px;
    color: #fafafa;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    opacity: 0.8;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
#main footer section.wrapper .column .searchBar input{
    width: 180px;
    height: 25px;
    border-radius: 4px;
    border: 1.5px solid #fff;
    background-color: #000;
    padding: 10px;
    color: #fff;
}
#main footer section.wrapper .column .searchBar img{
    width: 24px;
    height: 24px;
    position: relative;
    left: -16%;
    top: 15%;
    cursor: pointer;
}
#main footer section.wrapper .column .imageContainer img{
    cursor: pointer;
}
#main footer section.wrapper .column .imageContainer img.qr{
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 10px;
    cursor: pointer;
}
#main footer section.wrapper .column .imageContainer .extraContainer{
    display: flex;
    flex-direction: column;
}
#main footer section.wrapper .column .socialMedias{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding: 0 10px;
}
#main footer section.wrapper .column .socialMedias .socialMedia{
    margin-right: 30px;
    cursor: pointer;
}
#main footer section.wrapper .column .socialMedias .socialMedia:last-child{
    margin-right: 0;
}
#main footer hr{
    border-width: 1px;
    opacity: 40%;
    margin-top: 50px;
    color: #fff;
}
#main footer .copyWrite{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
#main footer .copyWrite img{
    opacity: 0.3;
    margin-right: 5px;
}
#main footer .copyWrite p{
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    opacity: 0.3;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 1420px){
    #main section.wrapper .categories .categoryList .categoryContainer{
        width: 165px;
    }
    #main section.wrapper .ratedProducts .productsList .productCard{
        width: 250px;
    }
}

@media (max-width: 1320px){
    #main section.wrapper .spotlight .spotlightLeft h2{
        font-size: 36px;
    }
}

@media (max-width: 1270px){
    #main section.wrapper .header .leftContainer h1 a{
        margin-right: 125px;
    }
}

@media (max-width: 1196px) {
    #main .topHeader .arrangement{
        margin-left: 25%;
    }
    #main section.wrapper .header .leftContainer h1 a{
        margin-right: 75px;
    }
    #main footer section.wrapper .column a.logo{
        font-size: 20px;
    }
    #main footer section.wrapper .column a.subscribe{
        font-size: 18px;
    }
    #main footer section.wrapper .column a.regular{
        font-size: 14px;
    }
    #main footer section.wrapper .column a.info{
        font-size: 10px;
    }
    #main footer section.wrapper .column .imageContainer img.qr{
        width: 50px;
        height: 50px;
    }
    #main footer section.wrapper .column .imageContainer .extraContainer img{
        width: 55px;
        height: 27px;
    }
}

@media (max-width: 1100px){
    #main section.wrapper .header .leftContainer h1 a{
        margin-right: 45px;
    }
}

@media (max-width: 1080px){
    #main section.wrapper .header .leftContainer{
        display: none;
    }

    #main section.wrapper .header .hamburger{
        display: flex;
    }

    #main footer section.wrapper{
        flex-direction: column;
        align-items: center;
    }

    #main footer section.wrapper .column{
        text-align: center;
    }

    #main footer section.wrapper .column a:first-child{
        margin-top: 20px;
    }

    #main footer section.wrapper .column .imageContainer{
        display: flex;
        justify-content: center;
    }
    
    #main footer section.wrapper .column .searchBar img{
        display: none;
    }
}

@media (max-width: 980px){
    #main .topHeader .arrangement{
        margin-left: 15%;
    }

    #main section.wrapper .ratedProducts .allProducts{
        width: 150px;
    }

    section.wrapper .services .serviceList .service h4{
        font-size: 18px !important;
    }

    section.wrapper .services .serviceList .service p{
        font-size: 12px !important;
    }
}

@media (max-width: 840px){
    #main .topHeader{
        display: none;
    }

    #main section.wrapper .header{
        margin-top: 30px;
    }

    #main section.wrapper .spotlight .spotlightLeft h2{
        font-size: 28px;
        line-height: 50px;
    }

    #main section.wrapper .services .serviceList{
        flex-direction: column;
        align-items: center;
    }

    #main section.wrapper .services .serviceList .service{
        margin-top: 50px;
    }

    #main section.wrapper .services .serviceList .service:first-child{
        margin-top: 0px;
    }
}

@media (max-width: 715px){
    #main section.wrapper .ratedProducts .productsList{
        justify-content: center;
    }
}

@media (max-width: 600px){
    #main section.wrapper .spotlight{
        flex-direction: column;
    }

    #main section.wrapper .spotlight .spotlightLeft{
        width: 100%;
    }

    #main section.wrapper .spotlight .spotlightRight{
        width: 100%;
    }
}

@media (max-width: 476px){
    #main section.wrapper .categories .categoryList{
        justify-content: center;
    }

    #main section.wrapper .header{
        flex-direction: column;
    }

    #main section.wrapper .header .hamburger{
        align-self: flex-start;
    }

    #main section.wrapper .header .rightContainer{
        align-self: flex-end;
        margin-top: 10px;
    }
}

@media (max-width: 415px){
    #main section.wrapper{
        padding: 0;
    }

    #main section.wrapper .header .rightContainer .searchBar img{
        display: none;
    }

    #main section.wrapper .header .rightContainer .searchBar input{
        padding-right: 10px;
        margin-right: 20px;
    }

    #main section.wrapper .spotlight .spotlightLeft{
        width: auto;
    }

    #main footer .copyWrite p{
        font-size: 12px;
    }
}
